.App {
    background-color: #2c5046;
    min-width: 300px;
    min-height: 420px;
    padding: 4rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.weatherDetails {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /* gap: .2rem; */
    color: #fff;
}

.weatherForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.weatherForm input{
    background-color: transparent;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #9f9f9f;
    font-size: 1.1rem;
}
.weatherForm input[type='submit']{
    background-color: #000;
    border-bottom: 0;
    width: 150px;
    padding: .6rem 0;

cursor: pointer;}